.weather-widget {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;

    transition-property: opacity;
    transition-duration: 4s;
}


.icon-container {
    font-size: 8em;
}


.temp-container {
    font-size: 4em;
}


.temp-unit {
    /* reletive to .temp-container */
    font-size: 0.5em;
}


.hidden {
    opacity: 0;
}


.other-widget {
    display: flex;
    flex-direction: row;
    justify-content: center;

    transition-property: opacity;
    transition-duration: 4s;
}


.other-widget-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    width: 40%;
}


.other-widget-inner-body {
    align-self: center;
}


.other-widget-inner-tail {
    align-self: flex-end;
}
